## Final Project Submission

Please fill out:
* Student name: Abdulrahman Aber, Benjamin Bai, Charles Pan, Kevin Rivera
* Student pace: Full Time
* Scheduled project review date/time: 
* Instructor name: David Elliott
* Blog post URL:

# Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sqlite3 as sq
conn = sq.connect('./zippedData/im.db')
cur = conn.cursor()

# BOM Movie Gross DF
Columns Removed: None

In [2]:
bom_movie_gross_df = pd.read_csv('./zippedData/bom.movie_gross.csv.gz')
bom_movie_gross_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

# IMDB DB DFS

In [3]:
imdb_schema = pd.read_sql('''SELECT * FROM sqlite_master''',conn)
imdb_schema

,type,name,tbl_name,rootpage,sql
0,table,movie_basics,movie_basics,2,"CREATE TABLE ""movie_basics"" (\n""movie_id"" TEXT..."
1,table,directors,directors,3,"CREATE TABLE ""directors"" (\n""movie_id"" TEXT,\n..."
2,table,known_for,known_for,4,"CREATE TABLE ""known_for"" (\n""person_id"" TEXT,\..."
3,table,movie_akas,movie_akas,5,"CREATE TABLE ""movie_akas"" (\n""movie_id"" TEXT,\..."
4,table,movie_ratings,movie_ratings,6,"CREATE TABLE ""movie_ratings"" (\n""movie_id"" TEX..."
5,table,persons,persons,7,"CREATE TABLE ""persons"" (\n""person_id"" TEXT,\n ..."
6,table,principals,principals,8,"CREATE TABLE ""principals"" (\n""movie_id"" TEXT,\..."
7,table,writers,writers,9,"CREATE TABLE ""writers"" (\n""movie_id"" TEXT,\n ..."

In [4]:
movie_basics_df = pd.read_sql('''select * from movie_basics''', conn)
movie_basics_df

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [5]:
fullofshit = pd.read_sql('''
select *
from 
    movie_akas as ma
    inner join movie_basics as mb
        on mb.movie_id = ma.movie_id
''', conn)
fullofshit

,movie_id,ordering,title,region,language,types,attributes,is_original_title,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0369610,10,Джурасик свят,BG,bg,None,None,0.0,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"
1,tt0369610,11,Jurashikku warudo,JP,None,imdbDisplay,None,0.0,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,None,imdbDisplay,None,0.0,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"
3,tt0369610,13,O Mundo dos Dinossauros,BR,None,None,short title,0.0,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"
4,tt0369610,14,Jurassic World,FR,None,imdbDisplay,None,0.0,tt0369610,Jurassic World,Jurassic World,2015,124.0,"Action,Adventure,Sci-Fi"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,None,None,original,None,1.0,tt9827784,Farewell Song,Sayonara kuchibiru,2019,116.0,"Music,Romance"
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,None,0.0,tt9827784,Farewell Song,Sayonara kuchibiru,2019,116.0,"Music,Romance"
331700,tt9880178,1,La atención,None,None,original,None,1.0,tt9880178,The Attention,La atención,2019,61.0,Documentary
331701,tt9880178,2,La atención,ES,None,None,None,0.0,tt9880178,The Attention,La atención,2019,61.0,Documentary
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,None,0.0,tt9880178,The Attention,La atención,2019,61.0,Documentary

In [6]:
movie_basics_df.shape

(146144, 6)

In [7]:
directors_df = pd.read_sql("""select * from directors""",conn)
directors_df.head()

    movie_id  person_id
0  tt0285252  nm0899854
1  tt0462036  nm1940585
2  tt0835418  nm0151540
3  tt0835418  nm0151540
4  tt0878654  nm0089502

In [8]:
directors_df.shape

(291174, 2)

In [9]:
directorsf_df = pd.read_sql('''
    SELECT *
    FROM 
        directors
    GROUP BY 
        movie_id
    HAVING
        count(person_id) > 1
''',conn)
directorsf_df

        movie_id  person_id
0      tt0063540  nm0712540
1      tt0069049  nm0000080
2      tt0100275  nm0765384
3      tt0139613  nm0518037
4      tt0146592  nm1030585
...          ...        ...
49861  tt9915436  nm6119329
49862  tt9916170  nm5412267
49863  tt9916538  nm8185151
49864  tt9916622  nm9272490
49865  tt9916754  nm9272490

[49866 rows x 2 columns]

In [10]:
known_for_df = pd.read_sql("""select * from known_for""",conn)
known_for_df

         person_id   movie_id
0        nm0061671  tt0837562
1        nm0061671  tt2398241
2        nm0061671  tt0844471
3        nm0061671  tt0118553
4        nm0061865  tt0896534
...            ...        ...
1638255  nm9990690  tt9090932
1638256  nm9990690  tt8737130
1638257  nm9991320  tt8734436
1638258  nm9991320  tt9615610
1638259  nm9993380  tt8743182

[1638260 rows x 2 columns]

In [11]:
known_forf_df = pd.read_sql('''
    SELECT *
    FROM 
        known_for
    GROUP BY 
        person_id
    HAVING
        count(movie_id) > 1
''',conn)
known_forf_df

        person_id   movie_id
0       nm0000002  tt0038355
1       nm0000003  tt0049189
2       nm0000005  tt0069467
3       nm0000006  tt0071877
4       nm0000007  tt0034583
...           ...        ...
411404  nm9992834  tt7826094
411405  nm9992999  tt9413640
411406  nm9993069  tt7653908
411407  nm9993415  tt8759718
411408  nm9993485  tt9615718

[411409 rows x 2 columns]

In [12]:
movie_akas_df = pd.read_sql("""select * from movie_akas""",conn)
movie_akas_df

,movie_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,None,None,0.0
1,tt0369610,11,Jurashikku warudo,JP,None,imdbDisplay,None,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,None,imdbDisplay,None,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,None,None,short title,0.0
4,tt0369610,14,Jurassic World,FR,None,imdbDisplay,None,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,None,None,original,None,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,None,0.0
331700,tt9880178,1,La atención,None,None,original,None,1.0
331701,tt9880178,2,La atención,ES,None,None,None,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,None,0.0

In [13]:
movie_akas_df = pd.read_sql("""select * from movie_akas where movie_id = 'tt9805820'""",conn)
movie_akas_df

Empty DataFrame
Columns: [movie_id, ordering, title, region, language, types, attributes, is_original_title]
Index: []

In [14]:
movie_akas_df = pd.read_sql("""select * from movie_akas where language = 'en'""",conn)
movie_akas_df

,movie_id,ordering,title,region,language,types,attributes,is_original_title
0,tt10027708,2,Miguelito,XWW,en,imdbDisplay,None,0.0
1,tt10027708,4,Miguelito,AU,en,None,None,0.0
2,tt1014759,10,Alice Dar Sarzamin E Ajayeb,IE,en,imdbDisplay,None,0.0
3,tt1014759,3,Alice in Wonderland,JP,en,None,None,0.0
4,tt10225354,3,Returning Home,XWW,en,alternative,None,0.0
...,...,...,...,...,...,...,...,...
22890,tt9644084,3,The Breath,XWW,en,alternative,None,0.0
22891,tt9654246,1,The Wild Man of the North,XWW,en,imdbDisplay,None,0.0
22892,tt9657946,1,Homing,XWW,en,imdbDisplay,None,0.0
22893,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,None,0.0
22894,tt9880178,3,The Attention,XWW,en,imdbDisplay,None,0.0

In [15]:
movie_ratings_df = pd.read_sql("""select * from movie_ratings""",conn)
movie_ratings_df.head()

     movie_id  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [16]:
persons_df = pd.read_sql("""select * from persons""",conn)
persons_df.head()

,person_id,primary_name,birth_year,death_year,primary_profession
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator"

In [ ]:
person_df

In [17]:
persons_df.shape

(606648, 5)

In [77]:
peepo = pd.read_sql(
'''
SELECT
    mb.movie_id,
    mb.primary_title,
    per.person_id,
    per.primary_name as Name,
    per.primary_profession as Person
FROM
    persons as per
    LEFT JOIN known_for as kn
        ON per.person_id = kn.person_Id
    INNER JOIN movie_basics as mb
        ON kn.movie_id = mb.movie_Id
WHERE
    per.death_year is null
GROUP BY
    per.person_id
''',
conn
)
peepo

,movie_id,primary_title,person_id,Name,Person
0,tt1825758,El lugar más pequeño,nm0000085,Henner Hofmann,"cinematographer,producer,camera_department"
1,tt5847740,Eyo zvali Mumu,nm0000087,Elena Koreneva,"actress,casting_director"
2,tt0816711,World War Z,nm0000093,Brad Pitt,"actor,producer,soundtrack"
3,tt1038919,The Bounty Hunter,nm0000098,Jennifer Aniston,"actress,producer,soundtrack"
4,tt1065073,Boyhood,nm0000099,Patricia Arquette,"actress,director,soundtrack"
...,...,...,...,...,...
511271,tt2478478,Dreams of Darkness,nm9993487,Rinaldo Rinaldini,editor
511272,tt7722258,Genius,nm9993494,Amjad Ali,writer
511273,tt10299418,No Perfect Love,nm9993573,Lakisha Louissaint,"director,writer,producer"
511274,tt4844148,Mia and the White Lion,nm9993616,Ryan Mac Lennan,actor
511275,tt8739208,Autsajder,nm9993650,Marcin Balcerak,actor

In [49]:
type(peepo['Job'])

pandas.core.series.Series

In [46]:
peepo[peepo['Job'].str.contains("actor")]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [187]:
smadge = pd.read_sql(
'''
SELECT
    mb.primary_title as MovieTitle,
    pr.primary_name as Director,
    mb.genres as Genres,
    mb.runtime_minutes as RunTime,
    mr.averagerating as AvgRating,
    mr.numvotes as NumberofVotes,
    mb.start_year as StartYear,
    
FROM
    movie_akas as ma
    LEFT JOIN directors as dir
        ON ma.movie_id = dir.movie_id
    LEFT JOIN movie_basics as mb
        ON ma.movie_id = mb.movie_id
    LEFT JOIN movie_ratings as mr
        ON ma.movie_id = mr.movie_id
    LEFT JOIN persons as pr
        on pr.person_id = dir.person_id
    GROUP BY
        ma.movie_id
''',
conn
)
smadge

DatabaseError: Execution failed on sql '
SELECT
    mb.primary_title as MovieTitle,
    pr.primary_name as Director,
    mb.genres as Genres,
    mb.runtime_minutes as RunTime,
    mr.averagerating as AvgRating,
    mr.numvotes as NumberofVotes,
    mb.start_year as StartYear,

FROM
    movie_akas as ma
    LEFT JOIN directors as dir
        ON ma.movie_id = dir.movie_id
    LEFT JOIN movie_basics as mb
        ON ma.movie_id = mb.movie_id
    LEFT JOIN movie_ratings as mr
        ON ma.movie_id = mr.movie_id
    LEFT JOIN persons as pr
        on pr.person_id = dir.person_id
    GROUP BY
        ma.movie_id
': near "FROM": syntax error

In [188]:
smadge = pd.read_sql(
'''
SELECT
    mb.primary_title as MovieTitle,
    dir.person as Director,
    mb.genres as Genres,
    mb.runtime_minutes as RunTime,
    mr.averagerating as AvgRating,
    mr.numvotes as NumberofVotes,
    pr.primary_name as Name,
    mb.start_year as StartYear,
    pr.primary_profession as Job
    
FROM
    (SELECT
            mb.movie_id,
            per.person_id,
            per.primary_name as Name,
            per.primary_profession as Person,
            mb.primary_title
            FROM
                persons as per
                LEFT JOIN known_for as kn
                    ON per.person_id = kn.person_Id
                INNER JOIN movie_basics as mb
                    ON kn.movie_id = mb.movie_Id
            WHERE
                per.death_year is null
            GROUP BY
                per.person_id) as icant
    LEFT JOIN movie_akas as ma
        ON icant.movie_id = ma.movie_id
    LEFT JOIN directors as dir
        ON icant.movie_id = dir.movie_id
    LEFT JOIN movie_basics as mb
        ON icant.movie_id = mb.movie_id
    LEFT JOIN movie_ratings as mr
        ON icant.movie_id = mr.movie_id
    LEFT JOIN persons as pr
        on pr.person_id = dir.person_id
    WHERE
        mr.averagerating != 'NaN'
''',
conn
)
smadge

DatabaseError: Execution failed on sql '
SELECT
    mb.primary_title as MovieTitle,
    dir.person as Director,
    mb.genres as Genres,
    mb.runtime_minutes as RunTime,
    mr.averagerating as AvgRating,
    mr.numvotes as NumberofVotes,
    pr.primary_name as Name,
    mb.start_year as StartYear,
    pr.primary_profession as Job

FROM
    (SELECT
            mb.movie_id,
            per.person_id,
            per.primary_name as Name,
            per.primary_profession as Person,
            mb.primary_title
            FROM
                persons as per
                LEFT JOIN known_for as kn
                    ON per.person_id = kn.person_Id
                INNER JOIN movie_basics as mb
                    ON kn.movie_id = mb.movie_Id
            WHERE
                per.death_year is null
            GROUP BY
                per.person_id) as icant
    LEFT JOIN movie_akas as ma
        ON icant.movie_id = ma.movie_id
    LEFT JOIN directors as dir
        ON icant.movie_id = dir.movie_id
    LEFT JOIN movie_basics as mb
        ON icant.movie_id = mb.movie_id
    LEFT JOIN movie_ratings as mr
        ON icant.movie_id = mr.movie_id
    LEFT JOIN persons as pr
        on pr.person_id = dir.person_id
    WHERE
        mr.averagerating != 'NaN'
': no such column: dir.person

In [194]:
smadge = pd.read_sql(
'''
SELECT
    mb.primary_title as MovieTitle,
    dir.person as Director,
    mb.genres as Genres,
    mb.runtime_minutes as RunTime,
    mr.averagerating as AvgRating,
    mr.numvotes as NumberofVotes,
    mb.start_year as StartYear
    
FROM
    (SELECT
            mb.movie_id,
            per.person_id,
            per.primary_name as Name,
            per.primary_profession as Person,
            mb.primary_title
            FROM
                persons as per
                LEFT JOIN known_for as kn
                    ON per.person_id = kn.person_Id
                INNER JOIN movie_basics as mb
                    ON kn.movie_id = mb.movie_Id
            WHERE
                per.death_year is null
            GROUP BY
                per.person_id) as icant
    LEFT JOIN movie_akas as ma
        ON icant.movie_id = ma.movie_id
    LEFT JOIN directors as dir
        ON icant.movie_id = dir.movie_id
    LEFT JOIN movie_basics as mb
        ON icant.movie_id = mb.movie_id
    LEFT JOIN movie_ratings as mr
        ON icant.movie_id = mr.movie_id
    WHERE
        mr.averagerating != 'NaN'
''',
conn
)
smadge

DatabaseError: Execution failed on sql '
SELECT
    mb.primary_title as MovieTitle,
    dir.person as Director,
    mb.genres as Genres,
    mb.runtime_minutes as RunTime,
    mr.averagerating as AvgRating,
    mr.numvotes as NumberofVotes,
    mb.start_year as StartYear

FROM
    (SELECT
            mb.movie_id,
            per.person_id,
            per.primary_name as Name,
            per.primary_profession as Person,
            mb.primary_title
            FROM
                persons as per
                LEFT JOIN known_for as kn
                    ON per.person_id = kn.person_Id
                INNER JOIN movie_basics as mb
                    ON kn.movie_id = mb.movie_Id
            WHERE
                per.death_year is null
            GROUP BY
                per.person_id) as icant
    LEFT JOIN movie_akas as ma
        ON icant.movie_id = ma.movie_id
    LEFT JOIN directors as dir
        ON icant.movie_id = dir.movie_id
    LEFT JOIN movie_basics as mb
        ON icant.movie_id = mb.movie_id
    LEFT JOIN movie_ratings as mr
        ON icant.movie_id = mr.movie_id
    WHERE
        mr.averagerating != 'NaN'
': no such column: dir.person

In [182]:
smadge2 = smadge.drop_duplicates()

In [183]:
smadge2

,MovieTitle,Director,Genres,RunTime,AvgRating,NumberofVotes,Name,StartYear,Job
0,El lugar más pequeño,Tatiana Huezo,Documentary,100.0,7.9,112,Tatiana Huezo,2011,"cinematographer,director,editor"
6,Eyo zvali Mumu,Vladimir Mirzoev,Drama,96.0,4.8,29,Vladimir Mirzoev,2016,"director,writer"
10,World War Z,Marc Forster,"Action,Adventure,Horror",116.0,7.0,553751,Marc Forster,2013,"producer,director,writer"
195,The Bounty Hunter,Andy Tennant,"Action,Comedy,Romance",110.0,5.6,112444,Andy Tennant,2010,"producer,director,writer"
229,Boyhood,Richard Linklater,Drama,165.0,7.9,315584,Richard Linklater,2014,"producer,director,writer"
...,...,...,...,...,...,...,...,...,...
8053149,Kishore Kumar Junior,Kaushik Ganguly,Drama,NaN,6.2,99,Kaushik Ganguly,2018,"actor,director,writer"
8053234,BURKINABÈ RISING: the art of resistance in Bur...,Iara Lee,Documentary,72.0,7.1,7,Iara Lee,2018,"director,producer,writer"
8053280,Tobot Movie: Attack of Robot Force,Dahl Lee,"Action,Adventure,Animation",NaN,8.4,9,Dahl Lee,2017,director
8053281,Tobot Movie: Attack of Robot Force,Dongwoo Ko,"Action,Adventure,Animation",NaN,8.4,9,Dongwoo Ko,2017,director
8053284,Merata: How Mum Decolonised the Screen,Hepi Mita,"Biography,Documentary",89.0,7.3,36,Hepi Mita,2018,"director,camera_department"

In [184]:
smadge2['MovieTitle'].value_counts()

World of Death                                       83
Venice 70: Future Reloaded                           73
Milano 55,1. Cronaca di una settimana di passioni    63
60 Seconds to Die                                    61
Our RoboCop Remake                                   59
                                                     ..
Some Freaks                                           1
Babangluksa                                           1
My Egg Boy                                            1
Fool for Love                                         1
Back Then                                             1
Name: MovieTitle, Length: 63745, dtype: int64

In [186]:
smadge2.loc[smadge['MovieTitle'] == 'World of Death']

,MovieTitle,Director,Genres,RunTime,AvgRating,NumberofVotes,Name,StartYear,Job
536400,World of Death,Paul Campion,"Comedy,Horror,Sci-Fi",142.0,7.2,31,Paul Campion,2016,"visual_effects,art_department,director"
536446,World of Death,Jay Wade Edwards,"Comedy,Horror,Sci-Fi",142.0,7.2,31,Jay Wade Edwards,2016,"editor,producer,editorial_department"
536492,World of Death,Shane Free,"Comedy,Horror,Sci-Fi",142.0,7.2,31,Shane Free,2016,"editor,director,cinematographer"
536538,World of Death,A Normale Jef,"Comedy,Horror,Sci-Fi",142.0,7.2,31,A Normale Jef,2016,"writer,director,special_effects"
536584,World of Death,Craig Ouellette,"Comedy,Horror,Sci-Fi",142.0,7.2,31,Craig Ouellette,2016,"producer,director,cinematographer"
...,...,...,...,...,...,...,...,...,...
539988,World of Death,Dimitri Castiglioni,"Comedy,Horror,Sci-Fi",142.0,7.2,31,Dimitri Castiglioni,2016,"visual_effects,director,writer"
540034,World of Death,M.J. Koleszar,"Comedy,Horror,Sci-Fi",142.0,7.2,31,M.J. Koleszar,2016,"director,writer,editor"
540080,World of Death,Félix Catala,"Comedy,Horror,Sci-Fi",142.0,7.2,31,Félix Catala,2016,"director,writer,cinematographer"
540126,World of Death,Timothy Thomas,"Comedy,Horror,Sci-Fi",142.0,7.2,31,Timothy Thomas,2016,director
540172,World of Death,Ryan Henry Knight,"Comedy,Horror,Sci-Fi",142.0,7.2,31,Ryan Henry Knight,2016,"producer,writer,director"

In [165]:
smadge2 = smadge.dropna(subset=['AvgRating']).reset_index().drop('index',axis=1)
smadge2

,MovieTitle,Director,Genres,RunTime,AvgRating,NumberofVotes,Name,StartYear,Job
0,Guest Artist,Timothy Busfield,Drama,74.0,8.0,32.0,Timothy Busfield,2019,"actor,producer,director"
1,Sunghursh,Harnam Singh Rawail,"Action,Crime,Drama",175.0,7.0,77.0,Harnam Singh Rawail,2013,"director,writer,producer"
2,The Other Side of the Wind,Orson Welles,Drama,122.0,6.9,4517.0,Orson Welles,2018,"actor,director,writer"
3,Sabse Bada Sukh,Hrishikesh Mukherjee,"Comedy,Drama",NaN,6.1,13.0,Hrishikesh Mukherjee,2018,"director,editor,writer"
4,The Wandering Soap Opera,Raoul Ruiz,"Comedy,Drama,Fantasy",80.0,6.5,119.0,Raoul Ruiz,2017,"director,writer,producer"
...,...,...,...,...,...,...,...,...,...
64218,Vosotros sois mi película,Carlo Padial,Documentary,98.0,3.9,253.0,Carlo Padial,2019,"writer,director,editor"
64219,Upin & Ipin: The Lone Gibbon Kris,Adam Bin Amiruddin,Animation,100.0,8.1,301.0,Adam Bin Amiruddin,2019,director
64220,Watching This Movie Is a Crime,Reza Zehtabchian,"Drama,Thriller",100.0,8.1,7.0,Reza Zehtabchian,2019,"director,writer"
64221,BADMEN with a good behavior,Loco Meisenkaiser,"Comedy,Horror",87.0,9.2,5.0,Loco Meisenkaiser,2018,"director,actor,writer"
64222,Pengalila,T.V. Chandran,Drama,111.0,8.4,600.0,T.V. Chandran,2019,"director,writer,actor"

In [166]:
smadge2['Name'].valuecounts()

AttributeError: 'Series' object has no attribute 'valuecounts'

In [110]:
smadge3 = smadge5.groupby(smadge2.columns.difference(['Director']).tolist())\
                 .Director.apply(pd.Series.unique).reset_index()

In [134]:
smadge6 = smadge5.groupby(smadge2.columns.difference(['Name']).tolist())\
                 .Name.apply(pd.Series.unique).reset_index()

In [129]:
smadge6.keys()

Index(['AvgRating', 'Director', 'Genres', 'Job', 'MovieTitle', 'NumberofVotes',
       'RunTime', 'StartYear', 'Name'],
      dtype='object')

In [153]:
smadge10 = smadge3.drop(['Name','Job'], axis=1)

In [150]:
smadge7 = smadge6[['MovieTitle','Name','Job']]

In [154]:
smadge8 = smadge7.merge(smadge10,how='left',on='MovieTitle')

In [155]:
smadge8.head()

,MovieTitle,Name,Job,Director,Genres,RunTime,StartYear,AvgRating,NumberofVotes
0,6 elementov vremeni,[Andrey Gromov],"producer,actor,director",['Andrey Gromov'],"Adventure,Drama,Sci-Fi",136.0,2016,1.0,19.0
1,"Yes, Sir! 7",[Chang-Kun Mei],"producer,production_manager,miscellaneous",['Chang-Kun Mei'],"Comedy,Drama",111.0,2016,1.0,96.0
2,Finding Anthony,[Chia-lin Chu],"actor,director,writer",['Chia-lin Chu'],"Drama,Family,Romance",76.0,2012,1.0,6.0
3,Yûyami Daria,[Chihiro Ikeda],"director,writer,producer",['Chihiro Ikeda'],Comedy,70.0,2011,1.0,127.0
4,Mr. Home,[Chihiro Ikeda],"director,writer,producer",['Chihiro Ikeda'],"Comedy,Drama",70.0,2014,1.0,126.0

In [162]:
smadge8['MovieTitle'].value_counts()

The Return                            100
Home                                   64
Lucky                                  64
Broken                                 64
Rage                                   49
                                     ...
Detroit                                 1
Saving Christmas                        1
Adios Carmen                            1
Everyone Says I Look Just Like Her      1
Back Then                               1
Name: MovieTitle, Length: 54897, dtype: int64

In [164]:
smadge8[smadge8['MovieTitle'].str.contains("The Return")]

,MovieTitle,Name,Job,Director,Genres,RunTime,StartYear,AvgRating,NumberofVotes
57,Thunderstorm: The Return of Thor,[Brett Kelly],"actor,director,writer",['Brett Kelly'],"Action,Fantasy,Sci-Fi",90.0,2011,1.2,303.0
716,Razors: The Return of Jack the Ripper,[Ian Powell],"writer,producer,director",['Ian Powell'],"Fantasy,Horror,Mystery",88.0,2016,2.5,161.0
2093,The Return of Buratino,[Ekaterina Mikhaylova],"director,art_director,writer",['Ekaterina Mikhaylova'],Animation,76.0,2013,3.3,66.0
4322,100 Ghost Street: The Return of Richard Speck,[Martin Wichmann Andersen],"editor,camera_department,writer",['Martin Wichmann Andersen'],"Horror,Mystery,Thriller",84.0,2012,3.9,928.0
4849,The Return of Joe Rich,[Sam Auster],"writer,director,producer",['Sam Auster'],"Comedy,Drama",95.0,2011,4.0,187.0
...,...,...,...,...,...,...,...,...,...
60634,The Return,[Steven F. Zambo],"writer,director,producer",['Malene Choi'],"Documentary,Drama",85.0,2018,7.1,104.0
60635,The Return,[Steven F. Zambo],"writer,director,producer",['Hernan Jimenez'],Drama,102.0,2012,7.2,233.0
60636,The Return,[Steven F. Zambo],"writer,director,producer",['Jay Sommerville'],"Action,Crime,Drama",105.0,2016,7.3,7.0
60637,The Return,[Steven F. Zambo],"writer,director,producer",['Steven F. Zambo'],Adventure,100.0,2015,8.2,32.0
62762,Zohar - The Return,[Dani Rosenberg],"writer,director,producer",['Dani Rosenberg'],Documentary,70.0,2018,8.6,11.0

In [159]:
smadge9 = smadge8.loc[smadge8['Name'].len() > 10]

AttributeError: 'Series' object has no attribute 'len'

In [148]:
smadge8['Name']

KeyError: 'Name'

In [ ]:
smadge8.

In [123]:
smadge3

,MovieTitle,Director,Genres,RunTime,StartYear,AvgRating,NumberofVotes,Name,Job
0,Ushikoku ni mairu,['Naoyoshi Kawamatsu'],"Action,Drama,Horror",98.0,2015,1.0,369.0,Naoyoshi Kawamatsu,"assistant_director,writer,director"
1,Ritoru Kyouta no bouken,['Satsuki Okawa'],Adventure,82.0,2017,1.0,174.0,Satsuki Okawa,"director,writer,camera_department"
2,The Autobots,['Jianrong Zhuo'],"Adventure,Animation,Family",85.0,2015,1.0,112.0,Jianrong Zhuo,director
3,A Moment of Youth,['Eduardo Crespo'],"Adventure,Biography,Comedy",143.0,2011,1.0,352.0,Eduardo Crespo,"director,cinematographer,producer"
4,Priklyucheniya Volodi Zlogo,['Maxim Gromov'],"Adventure,Comedy",76.0,2015,1.0,21.0,Maxim Gromov,"actor,director,producer"
...,...,...,...,...,...,...,...,...,...
57653,Revolution Food,['Loreto Di Cesare'],Documentary,70.0,2015,10.0,8.0,Loreto Di Cesare,"cinematographer,director,producer"
57654,I Was Born Yesterday!,['Soudabeh Moradian'],Documentary,31.0,2015,10.0,6.0,Soudabeh Moradian,"director,editor,producer"
57655,The Paternal Bond: Barbary Macaques,['Masahiro Hayakawa'],Documentary,59.0,2015,10.0,5.0,Masahiro Hayakawa,"director,producer"
57656,Hercule contre Hermès,['Mohamed Ulad-Mohand'],Documentary,72.0,2012,10.0,5.0,Mohamed Ulad-Mohand,"producer,director,writer"
57657,Ellis Island: The Making of a Master Race in A...,['Robert Tutak'],"Documentary,History",70.0,2018,10.0,6.0,Robert Tutak,"director,writer,producer"

In [124]:
smadge6

,AvgRating,Director,Genres,Job,MovieTitle,NumberofVotes,RunTime,StartYear,Name
0,1.0,Andrey Gromov,"Adventure,Drama,Sci-Fi","producer,actor,director",6 elementov vremeni,19.0,136.0,2016,[Andrey Gromov]
1,1.0,Chang-Kun Mei,"Comedy,Drama","producer,production_manager,miscellaneous","Yes, Sir! 7",96.0,111.0,2016,[Chang-Kun Mei]
2,1.0,Chia-lin Chu,"Drama,Family,Romance","actor,director,writer",Finding Anthony,6.0,76.0,2012,[Chia-lin Chu]
3,1.0,Chihiro Ikeda,Comedy,"director,writer,producer",Yûyami Daria,127.0,70.0,2011,[Chihiro Ikeda]
4,1.0,Chihiro Ikeda,"Comedy,Drama","director,writer,producer",Mr. Home,126.0,70.0,2014,[Chihiro Ikeda]
...,...,...,...,...,...,...,...,...,...
57653,10.0,Loreto Di Cesare,Documentary,"cinematographer,director,producer",Revolution Food,8.0,70.0,2015,[Loreto Di Cesare]
57654,10.0,Masahiro Hayakawa,Documentary,"director,producer",The Paternal Bond: Barbary Macaques,5.0,59.0,2015,[Masahiro Hayakawa]
57655,10.0,Mohamed Ulad-Mohand,Documentary,"producer,director,writer",Hercule contre Hermès,5.0,72.0,2012,[Mohamed Ulad-Mohand]
57656,10.0,Robert Tutak,"Documentary,History","director,writer,producer",Ellis Island: The Making of a Master Race in A...,6.0,70.0,2018,[Robert Tutak]
57657,10.0,Soudabeh Moradian,Documentary,"director,editor,producer",I Was Born Yesterday!,6.0,31.0,2015,[Soudabeh Moradian]

In [111]:
smadge4 = smadge3

In [112]:
smadge4['Director'] = smadge3['Director'].apply(str)

In [26]:
smadge3

,AvgRating,Genres,MovieTitle,NumberofVotes,RunTime,Director
0,1.0,"Action,Drama,Horror",Ushikoku ni mairu,369.0,98.0,['Naoyoshi Kawamatsu']
1,1.0,"Action,Horror,Thriller",Mstitel chelovechestva,22.0,66.0,['Nastya Zakharova']
2,1.0,Adventure,Ritoru Kyouta no bouken,174.0,82.0,['Satsuki Okawa']
3,1.0,"Adventure,Animation,Family",The Autobots,112.0,85.0,['Jianrong Zhuo']
4,1.0,"Adventure,Biography,Comedy",A Moment of Youth,352.0,143.0,['Eduardo Crespo']
...,...,...,...,...,...,...
62386,10.0,Documentary,I Was Born Yesterday!,6.0,31.0,['Soudabeh Moradian']
62387,10.0,Documentary,Requiem voor een Boom,5.0,48.0,['Michiel Brongers']
62388,10.0,Documentary,Revolution Food,8.0,70.0,['Loreto Di Cesare']
62389,10.0,Documentary,The Paternal Bond: Barbary Macaques,5.0,59.0,['Masahiro Hayakawa']
62390,10.0,"Documentary,History",Ellis Island: The Making of a Master Race in A...,6.0,70.0,['Robert Tutak']

In [113]:
smadge4.head()

,AvgRating,Genres,Job,MovieTitle,Name,NumberofVotes,RunTime,StartYear,Director
0,1.0,"Action,Drama,Horror","assistant_director,writer,director",Ushikoku ni mairu,Naoyoshi Kawamatsu,369.0,98.0,2015,['Naoyoshi Kawamatsu']
1,1.0,Adventure,"director,writer,camera_department",Ritoru Kyouta no bouken,Satsuki Okawa,174.0,82.0,2017,['Satsuki Okawa']
2,1.0,"Adventure,Animation,Family",director,The Autobots,Jianrong Zhuo,112.0,85.0,2015,['Jianrong Zhuo']
3,1.0,"Adventure,Biography,Comedy","director,cinematographer,producer",A Moment of Youth,Eduardo Crespo,352.0,143.0,2011,['Eduardo Crespo']
4,1.0,"Adventure,Comedy","actor,director,producer",Priklyucheniya Volodi Zlogo,Maxim Gromov,21.0,76.0,2015,['Maxim Gromov']

In [114]:
smadge3 = smadge3[['MovieTitle','Director','Genres','RunTime','StartYear','AvgRating','NumberofVotes','Name','Job']]

In [115]:
smadge3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57658 entries, 0 to 57657
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MovieTitle     57658 non-null  object
 1   Director       57658 non-null  object
 2   Genres         57658 non-null  object
 3   RunTime        57658 non-null  float64
 4   StartYear      57658 non-null  int64
 5   AvgRating      57658 non-null  float64
 6   NumberofVotes  57658 non-null  float64
 7   Name           57658 non-null  object
 8   Job            57658 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 4.0+ MB

In [116]:
type(smadge3['Director'][0][0])

str

In [31]:
smadge3.describe()

            RunTime     AvgRating  NumberofVotes
count  62391.000000  62391.000000   6.239100e+04
mean      94.714959      6.304472   4.160799e+03
std      214.749765      1.442668   3.292037e+04
min        3.000000      1.000000   5.000000e+00
25%       81.000000      5.500000   1.700000e+01
50%       91.000000      6.500000   6.700000e+01
75%      104.000000      7.300000   3.830000e+02
max    51420.000000     10.000000   1.841066e+06

In [117]:
smadge4[smadge4['Director'].str.contains("Spielberg")]

,AvgRating,Genres,Job,MovieTitle,Name,NumberofVotes,RunTime,StartYear,Director
27240,6.4,"Adventure,Family,Fantasy","producer,writer,director",The BFG,Steven Spielberg,69340.0,117.0,2016,['Steven Spielberg']
41175,7.2,"Biography,Drama,History","producer,writer,director",The Post,Steven Spielberg,108017.0,116.0,2017,['Steven Spielberg']
42374,7.2,"Drama,History,War","producer,writer,director",War Horse,Steven Spielberg,136447.0,146.0,2011,['Steven Spielberg']
42610,7.3,"Action,Adventure,Animation","producer,writer,director",The Adventures of Tintin,Steven Spielberg,202430.0,107.0,2011,['Steven Spielberg']
44288,7.4,"Biography,Drama,History","producer,writer,director",Lincoln,Steven Spielberg,228701.0,150.0,2012,['Steven Spielberg']
45416,7.5,"Action,Adventure,Sci-Fi","producer,writer,director",Ready Player One,Steven Spielberg,301660.0,140.0,2018,['Steven Spielberg']
47759,7.6,"Drama,History,Thriller","producer,writer,director",Bridge of Spies,Steven Spielberg,263004.0,142.0,2015,['Steven Spielberg']

In [118]:
smadge4[smadge4['MovieTitle'].str.contains("Avatar")]

,AvgRating,Genres,Job,MovieTitle,Name,NumberofVotes,RunTime,StartYear,Director
172,1.6,"Horror,Sci-Fi","editor,editorial_department,miscellaneous",Aliens vs. Avatars,Lewis Schoenbrun,1544.0,80.0,2011,['Lewis Schoenbrun']
3660,3.8,Thriller,"director,writer,producer",The Avatar Project,Tiziano Cella,5.0,66.0,2017,['Tiziano Cella']
10976,5.1,Drama,"director,producer,writer",The Last Avatar,Jay Weidner,49.0,90.0,2014,['Jay Weidner']
23467,6.1,Horror,director,Avatar,Atsushi Wada,43.0,93.0,2011,['Atsushi Wada']
50870,7.9,Drama,"writer,director,actor",Avatarachi Goshta,Nitin Dixit,21.0,118.0,2014,['Nitin Dixit']

In [119]:
smadge4 = smadge4[['MovieTitle','Director','Genres','RunTime','StartYear','AvgRating','NumberofVotes','Name','Job']]

In [120]:
smadge4

,MovieTitle,Director,Genres,RunTime,StartYear,AvgRating,NumberofVotes,Name,Job
0,Ushikoku ni mairu,['Naoyoshi Kawamatsu'],"Action,Drama,Horror",98.0,2015,1.0,369.0,Naoyoshi Kawamatsu,"assistant_director,writer,director"
1,Ritoru Kyouta no bouken,['Satsuki Okawa'],Adventure,82.0,2017,1.0,174.0,Satsuki Okawa,"director,writer,camera_department"
2,The Autobots,['Jianrong Zhuo'],"Adventure,Animation,Family",85.0,2015,1.0,112.0,Jianrong Zhuo,director
3,A Moment of Youth,['Eduardo Crespo'],"Adventure,Biography,Comedy",143.0,2011,1.0,352.0,Eduardo Crespo,"director,cinematographer,producer"
4,Priklyucheniya Volodi Zlogo,['Maxim Gromov'],"Adventure,Comedy",76.0,2015,1.0,21.0,Maxim Gromov,"actor,director,producer"
...,...,...,...,...,...,...,...,...,...
57653,Revolution Food,['Loreto Di Cesare'],Documentary,70.0,2015,10.0,8.0,Loreto Di Cesare,"cinematographer,director,producer"
57654,I Was Born Yesterday!,['Soudabeh Moradian'],Documentary,31.0,2015,10.0,6.0,Soudabeh Moradian,"director,editor,producer"
57655,The Paternal Bond: Barbary Macaques,['Masahiro Hayakawa'],Documentary,59.0,2015,10.0,5.0,Masahiro Hayakawa,"director,producer"
57656,Hercule contre Hermès,['Mohamed Ulad-Mohand'],Documentary,72.0,2012,10.0,5.0,Mohamed Ulad-Mohand,"producer,director,writer"
57657,Ellis Island: The Making of a Master Race in A...,['Robert Tutak'],"Documentary,History",70.0,2018,10.0,6.0,Robert Tutak,"director,writer,producer"

smadge3[smadge3,.strcontains('Satsuki')]

# RT Movie Info DF
Columns Removed: Synopsis, Currency, Box_Office (getting box office data elsewhere)
Note - Break genres into multiple columns or somehow else clean it or just do contains

In [33]:
rt_movie_info_df = pd.read_csv('./zippedData/rt.movie_info.tsv.gz', sep='\t')
rt_movie_info_df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

# RT Reviews DF
Columns Removed: Review, Critic, Top_Critic
Note - can we link this to movie names? scrape movie titles from ID?

In [34]:
rt_reviews_df = pd.read_csv('./zippedData/rt.reviews.tsv.gz', sep='\t', encoding= 'unicode_escape')
rt_reviews_df.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

# TMDB Movies DF
- Remove Columns: Unnamed: 0, TBD

In [35]:
tmdb_movies_df = pd.read_csv('./zippedData/tmdb.movies.csv.gz')
tmdb_movies_df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

# TN Movie Budgets DF
Remove Columns: None

In [36]:
tn_movie_budgets_df = pd.read_csv('./zippedData/tn.movie_budgets.csv.gz')
tn_movie_budgets_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"