In [1]:
import pandas as pd

In [5]:
from selenium import webdriver

In [3]:
tn_movie_budgets_df = pd.read_csv('./zippedData/tn.movie_budgets.csv.gz')
tn_movie_budgets_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [58]:
list_of_movies = tn_movie_budgets_df['movie'].values.tolist()

In [36]:
driver = webdriver.Chrome("./chromedriver")

/var/folders/xp/ksk4jb6j25df8dk_14f29cqw0000gn/T/ipykernel_2279/3854778951.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("./chromedriver")

In [61]:
list_of_movies[0]

'Avatar'

In [70]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys

browser = webdriver.Chrome("./chromedriver")
browser.get('http://www.google.com')

search = browser.find_element(by='name', value='q')
search.send_keys(list_of_movies[0])
search.send_keys(Keys.RETURN) 


genre = driver.find_elements(By.XPATH("//div[@class='zqhAOd']"))
# time.sleep(10) # sleep for 5 seconds so you can see the results
# browser.quit()

print(genre)

/var/folders/xp/ksk4jb6j25df8dk_14f29cqw0000gn/T/ipykernel_2279/1784658251.py:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome("./chromedriver")

TypeError: 'str' object is not callable